<footer>
  <div class="container">
    <div class="row" style="padding: 20px">
      <div class="col-md-4">
        <h3>Company</h3>
        <ul>
          <li><%= link_to "About Us"%></li>
          <li><%= link_to "Jobs"%></li>
          <li><%= link_to "Team"%></li>
          <li><%= link_to "Blog"%></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Costumers</h3>
        <ul>
          <li><%= link_to "How it works"%></li>
          <li><%= link_to "Sign Up"%></li>
          <li><%= link_to "Frequently Asked Questions"%></li>
          <li><%= link_to "Service Guidlines"%></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Connect</h3>
        <ul>
          <li><%= link_to "Facebook"%></li>
          <li><%= link_to "Instagram"%></li>
          <li><%= link_to "Twiiter"%></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
