<div class="row">
	<div class="jumbotron" style="background-image: url('/assets/banner.jpg')">
		<div class="container">
			<div class="banner-inner text-center">
				<h1>Welcome To ToolBelt</h1>
				<p>The World's Largest Toolbox</p>
			</div>
			<%= search_form_for @search, url: search_path do |f| %>
				<div class="row">
					<div class="col-md-3">
						<%= f.select :tool_type_eq, [["Drill/Driver", "Drill/Driver"], ["Saw", "Saw"], ["Sanders/Polishers", "Sanders/Polishers"], ["Rotary", "Rotary"], ["Grinders", "Grinders"]], id: "tool_type", prompt: "Select", class: "form-control" %>
					</div>
					<div class="col-md-3">
						<%= text_field_tag :search, params[:search], placeholder: "Address/Location", class: "form-control" %>
					</div>
					<div class="col-md-2">
						<%= text_field_tag :start_date, params[:start_date], placeholder: "Starting Date", class: "form-control" %>
					</div>
					<div class="col-md-2">
						<%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control"%>
					</div>
					<div class="col-md-2">
						<%= submit_tag "Search", class: "btn btn-primary" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	
</div>

<div class="container">

<div class="text-center">
	<h2>Where We Are Located</h2>
</div>

<br>

<div class="row">
	<div class="col-md-4 col-sm-12">
		<div class="discovery-card" style="background-image: url('/assets/new_york.jpg')">
			<div class="va-container">
				<div class="va-middle text-center">
					<h2><strong>New York</strong></h2>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-6">
		<div class="discovery-card" style="background-image: url('/assets/chicago.jpg')">
			<div class="va-container">
				<div class="va-middle text-center">
					<h2><strong>Chicago</strong></h2>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-6">
		<div class="discovery-card" style="background-image: url('/assets/san_francisco.jpg')">
			<div class="va-container">
				<div class="va-middle text-center">
					<h2><strong>San Francisco</strong></h2>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="text-center">
	<h2>What Are You Missing?</h2>
	<p>The tool you need is right around the corner</p>
</div>

<br>

<div class="row">
	<% @tools.each do |tool| %>
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading preview">
					<%= image_tag tool.photos[0].image.url(:medium) if tool.photos.length > 0 %>
				</div>
				<div class="panel-body">
					<%= link_to tool.listing_name, tool %>
				</div>
			</div>
		</div>

	<% end %>
</div>

	
</div>
<hr>


<script>
	$(function() {
		$("#start_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#end_date').datepicker("option", "minDate", selected);
				$('#end_date').attr('disabled', false);
			}
		});

		$("#end_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#start_date').datepicker("option", "maxDate", selected);
			}
		});
	})
</script>
