
		<div class="row">
			<%= search_form_for @search, url: search_path do |f| %>

				<div class="row">
					<div class="col-md-3">
						<%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control" %>
					</div>
					<div class="col-md-3">
						<%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control" %> 
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-3">
						<%= f.text_field :price_gteq, placeholder: "Min Price", class: "form-control" %>
					</div>
					<div class="col-md-3">
						<%= f.text_field :price_lteq, placeholder: "Max Price", class: "form-control" %>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-3 ">
						<%= f.select :tool_type_eq, [["Drill/Driver", "Drill/Driver"], ["Saw", "Saw"], ["Sanders/Polishers", "Sanders/Polishers"], ["Rotary", "Rotary"], ["Grinders", "Grinders"]], id: "tool_type", prompt: "Select", class: "form-control" %>
					</div>
					<div class="col-md-3">
						<%= f.text_field :listing_name_eq, placeholder: "Name", class: "form-control" %>
					</div>
					<div class="col-md-3">
						<%= f.text_field :model_type_eq, placeholder: "Make/Model", class: "form-control" %>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-4">
						<%= check_box_tag "q[is_cordless_eq_any][]", "Cordless" %> Cordless 
					</div>
					<div class="col-md-4">
						<%= check_box_tag "q[is_bag_eq_any][]", "Bag" %> Carrying Case 
					</div>
					<div class="col-md-4">
						<%= check_box_tag "q[is_blades_eq_any][]", "Blades" %> Blades 
					</div>
					<div class="col-md-4">
						<%= check_box_tag "q[is_bits_eq_any][]", "Bits" %> Bits
					</div>
					<div class="col-md-4">
						<%= check_box_tag "q[is_battery_eq_any][]", "Battery" %> Battery
					</div>
				</div>

				<hr>

				<div class="row">
					<%= f.submit "Search", class: "btn btn-primary" %>
				</div>

			<% end %>

			<hr> 
		</div>

			<div class="text-center">
				<h2>Results</h2>
			</div>
			<div class="row">
				<% @arrTools.each do |tool| %>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading preview">
								<%= image_tag tool.photos[0].image.url(:medium) if tool.photos.length > 0%>
							</div>
							<div class="panel-body">
								<%= link_to tool.listing_name, tool_path(tool) %>
							</div>
						</div>
					</div>
				<% end %>
			</div>

<script>
	$(function() {
		$("#start_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#end_date').datepicker("option", "minDate", selected);
				$('#end_date').attr('disabled', false);
			}
		});

		$("#end_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#start_date').datepicker("option", "maxDate", selected);
			}
		});
	})
</script>