<div class='row'>
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Your Listing", tools_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Upcoming Reservations", your_reservations_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Your Rentals", your_rentals_path, class: "sidebar-link active" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Your Upcoming Tool Rentals
			</div>
			<div class="panel-body">

			<% @rentals.each do |rental| %>
				<div class="row">
					<div class=" col-md-3">
						<%= rental.start_date.strftime('%v') %>
					</div>
					<div class="col-md-6">
						<%= link_to tool_path(rental.tool) do %>
						<%= image_tag rental.tool.photos[0].image(:thumb) if rental.tool.photos.length > 0 %>
						<% end %>
					</div>
					<div class="col-md-3 right">
						<h4> <%= rental.total %></h4>
					</div>
				</div>	
				<hr>
				<% end %>


			</div>
		</div>
	</div>
</div>
